= form_for @idea do |f|
  = f.error_messages
  %p
    = f.text_field :name, :class =>  'span4', :placeholder => 'name'
  %p
    = f.text_area :content, :rows => 10, :class =>  'span4', :placeholder => 'the idea'
  %p
    = f.text_field :tag_list, :class =>  'span4', :placeholder => 'tags, comma, separated'
  %p
    .right
      = f.submit 'Create!', :class => 'btn btn-primary btn-large'
